{% extends "base.html" %}

<!-- Overriding TITLE Block from base.html -->
{% block title %}Home{% endblock %}

<!-- Overriding CONTENT Block from base.html -->
{% block content %}
<h2> Welcome to our interactive study set maker </h2>

<!-- Create Set Button -->
<div class="col-lg px-lg-5">
    <div class="row">
        <a href = "/create_set">
            <button type="button" class="btn btn-dark" value="create">
                Create New Study Set
            </button>
        </a>
    </div>

    
    
<!-- Edit Set Button -->
    <div class="row">
        <button type="button" class="btn btn-dark" value="edit">
            Edit Existing Study Set
        </button>
    </div>
</div>



{% endblock %}
<!-- Overridable content depending on is User is:
        - Creating new Set
        - Editing existing set 
-->
{% block homecontent %}
{% endblock %}

